.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1d1d1d;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 50px;
    height: 75px;
}

.Footer-logo {
    width: 100px;
}