.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d1d1d;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 50px;
}

.Navbar-logo {
    width: 90px;
}

.Navbar-links {
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}